.poll-common-voting-power
  %label{for: "member-type-field"} {{"Select Member Type"}}
  %md-select.poll-common-voting-power-fields__member_field#voting-power-field{ng-model: "poll.additionalData.member_type",ng-required: "true", ng-change: "changeType(poll.additionalData.member_type)"}
    %md-option{ng-repeat: "member in voting_power_type", ng-value: "member.id"} {{member.name}}

  %md-input-container.md-block
    %poll_common_forge_alliance.animated{ng-if:"poll.additionalData.member_type == 'group'"}
  %md-input-container.md-block
    %poll_common_group_member.animated{ng-if:"poll.additionalData.member_type == 'member'"}

  %md-input-container.md-block
    %label{"Voting Power"}
    %input.lmo-primary-form-input.poll-common-voting_power__vote_power{type: "number", ng-required: "true", placeholder: "Voting Power", ng-model: "poll.additionalData.vote_power", ng-model-options: "{ allowInvalid: true }", md-maxlength: "250"}
    %validation_errors{subject: "poll", field: "vote_power"}

  