%md-button.md-primary.md-raised.delegates_card__manage-delegates-button{ng_click: "manageDelegates()", title: "{{ 'delegates.card.edit_delegates' | translate }}"}
  %span{translate: "delegates.card.edit_delegates"}