.delegates_card.lmo-card
  %h2.lmo-card-heading.lmo-truncate-text{translate: "delegates.card.title"}
  %md-button.md-primary.md-raised.delegates_card__manage-delegates-button{ng_click: "manageDelegates($scope.group)", title: "{{ 'delegates.card.edit_delegates' | translate }}"}
    %span{translate: "delegates.card.edit_delegates"}