.delegates-form__list-item,
.delegates-form__invited {
  padding: 0 !important;
}

.delegates-form__invite {
  margin-bottom: 16px;
}

.delegates-form__help {
  margin: 8px 0;
}

.delegates-form__audience {
  height: 42px;
  min-height: 42px;
  margin-bottom: 8px;
  color: $primary-text-color;
  i { opacity: 0.8; }
}
