.poll-common-forge-alliance
    .md-block.poll-common-multiple-choice.poll-common-checkbox-option
        .poll-common-checkbox-option__text.md-list-item-text.lmo-flex--row
            %h3 Parent Group
            .help-bubble
                %i.mdi.mdi-help-circle-outline
                %md-tooltip.help-bubble__tooltip
                    %span Check to invite parent groups else child groups will be invited
        %md-checkbox{ng-model: "poll.additionalData.parent"}
    %md-input-container.md-block{ng-if:"poll.additionalData.parent"}
        %label{for: "group-field"} {{"Select Group"}}
        %md-select.poll-common-form-fields__group#group-field{ng-model: "poll.additionalData.group_id",ng-required: "true",ng-change:"change_type(poll.additionalData.group_id)"}
                %md-option{ng-repeat : "group in parentGroupData", ng-value : "group.id"} {{ group.name }}
        %validation_errors{subject: "poll", field: "pollGroup"}
    %md-input-container.md-block{ng-if:"!poll.additionalData.parent"}
        %label{for: "group-field"} {{"Select Group"}}
        %md-select.poll-common-form-fields__group#group-field{ng-model: "poll.additionalData.group_id",ng-required: "true",ng-change:"change_type(poll.additionalData.group_id)"}
                %md-option{ng-repeat : "group in groupData", ng-value : "group.id"} {{ group.name }}    
        %validation_errors{subject: "poll", field: "pollGroup"}
