.lmo-md-actions
  %div{ng-if: "recipients.length"}
  %md-button.md-accent.delegates-form__cancel{ng-click: "$emit('$close')", translate: "common.action.close"}
  %md-button.md-primary.md-raised.delegates-form__submit{ng-click: "submit()", translate: "common.action.send"}
