%md-dialog.delegates-modal.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-account-plus.hide-icon
      %h1.lmo-h1{translate: "delegates.modal.title"}
      %dismiss_modal_button
  %md-dialog-content
    %delegates_form{user: "user",group: "group"}
  %md-dialog-actions
    %delegates_form_actions{user: "user"}
