.poll-group-child-preview__body
  .inline_img_div.sidebar__list-item-button.md-button
    %img.md-avatar.lmo-box--tiny.sidebar__list-item-group-logo.ng-scope{ng-src: "{{imgUrl}}"}
    .md-subhead.lmo-truncate-text
      %span> {{poll.name}}
      .md-caption.lmo-grey-on-white.lmo-truncate-text
        %span> {{poll.power ? "Vote Power "+poll.power : ""}}
    .md-caption.lmo-grey-on-white.lmo-truncate-textpoll_common_collapsed
      %span>
    