.poll-common-details-panel__started-by {
  @include fontSmall;
  color: $grey-on-white;
}

.poll-common-details-panel__details {
  margin-top: 10px;
}

.poll-common-details-panel__category-header,
.poll-common-details-panel__resubmission-details {
  padding: 5px 0;
  margin-top: 5px;
}
