.delegates-chip.lmo-md-actions{data-id: "{{recipient.id}}"}
  .delegates-chip__content.lmo-flex--row.lmo-flex__center
    %user_avatar.lmo-margin-right{user: "recipient", size: "small", no-link: "true"}
    %span.md-body-2 {{ recipient.name || recipient.email }}
  .delegates-chip__action
    %md-button.md-button--tiny{ng-if: "showClose", ng-click: "removeRecipient(recipient)"}
      %i.mdi.mdi-24px.mdi-window-close